.loading-container,
.empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.empty-container p {
  color: var(--ion-color-medium);
  margin-bottom: 1rem;
}
